body {
	background-color: #f2f2f2;
	padding-bottom: 40px;
}

.page-header h1 {
	font-size: 24px;
	line-height: 150%;
}

.body.editormd-preview-container a, .reply-content a {
	color: #4183c4;
}

ul.top a {
	padding-top: 0!important;
	padding-bottom: 0!important;
	color: #2F81D6;
	text-decoration: underline;
}

ul.top a:hover {
	text-decoration: underline;
}

a {
	color: #778087;
}

a:hover {
    color: #4d5256;
}

pre.prettyprint ol.linenums {
    margin-left: 0;
}

header div.btn-group {
	margin-top: 4px;
}

li.number {
	color: #999;
	font-weight: bold;
}

dl.site dt {
    padding-top: 8px;
}

.navbar-fixed-top .brand {
	padding: 0;
	margin-right: 40px;
	margin-left: 2px;
}

.navbar-default {
	background-color: #F9F9F9;
}

.sidebar-nav {
	padding: 8px;
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.content, #comments {
	margin-bottom: 20px;
	padding: 8px;
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
}

dl.topics dd, dl.replies dd, dl#nodes dd {
	margin-left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #CCC;
}

.topic, .reply {
	border-bottom: 1px dashed #CCC;
	padding: 12px 0;
}

dl.topics .title {
	font-size: 120%;
}

.reply-content {
	padding-left: 60px;
}

dl#nodes dd {
	margin-bottom: 10px;
	color: #999;
}

.space {
	height: 4px;
}

.social-contact {
	border: 1px solid #0000FA;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
}

dl.faq dd {
	margin-bottom: 30px;
}

hr {
	margin: 9px 0;
}

table.status td.status-label {
	color: #999;
	width: 60px;
	text-align: right;
}

table.status td.value {
	font-weight: bold;
	padding-left: 10px;
}

footer {
	background-color: white;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
}

header {
	margin-bottom: 10px;
}

.navbar {
	margin-bottom: 10px;
}

.brand {
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}

header .bar {
	float: left;
	margin-top: 10px;
}

header h1 {
	padding: 17px 0 0 44px;
	font-size: 36px;
	line-height: 1.2em;
}

header nav {
	padding: 54px 24px 0 0;
}

header nav li {
	list-style-type: none;
	float: left;
	margin: 0 5px;
	padding: 0;
}

header nav li a {
	color: white;
	background: #375EAB;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

header nav li a:hover {
	color: white;
	text-decoration: none;
}

.login-form {
	padding: 19px;
	margin-bottom: 0px;
}

.well {
	background: white;
	border: 1px solid #DDD;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
}

#admin-sidebar {
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
#admin-sidebar > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
#admin-sidebar > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
#admin-sidebar > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
#admin-sidebar > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

#admin-sidebar .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}

.content div.page-header {
	margin-top: 0;
	margin-bottom: 0;
}

.content p {
	line-height: 2em;
}

.articles dd {
	margin-bottom: 10px;
}

.content h2 {
	font-size: 20px;
	background: #E0EBF5;
	padding: 2px 5px;
}

.content h3 {
	font-size: 20px;
	margin-top:10px;
}

dl.site dd {
	color: #999;
	border-bottom: 1px dashed #CCC;
	padding-bottom: 10px;
}

div.header {
	background-color: #F1F1F1;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	padding-left: 8px;
	border-bottom: 1px solid #CCC;
	line-height: 20px;
}

.footer-links {
	margin: 10px 0;
    padding-left: 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.footer-links li:first-child {
	padding-left: 0;
}

a.remove {
	margin-right: 10px;
}

.sidebar-nav a.btn {
	margin-bottom: 4px;
}

ul.members {
	list-style: none;
}

ul.members li {
	float: left;
	width: 110px;
	height: 68px;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}

ul.members li a {
	display: block;
}

.img-rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#bdshare span, #bdshare a {
    height: 24px;
}

div.body {
    padding-top: 1.5em;
}

div#book h2 {
    background: none;
}

ul.books {
    list-style: none;
    display: block;
    margin-top: 10px;
}

ul.books li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

div.book-detail .tab-pane {
    padding-top: 2em;
}

#toTop {
	text-align: center;
    color: #428bca;
    position: fixed;
    bottom: 20px;
    right: 20px;
	cursor: pointer;
    display: none;
}

#toTop span {
	font-size: 24px;
}

.content img, .reply-content img {
	max-width: 100%;
}

sup.new {
	color: white;
	position: absolute;
	display: block;
	width: 23px;
	height: 20px;
	top: 0;
	right: -4px;
	font-size: 10px;
	background: url(http://77fkk5.com1.z0.glb.clouddn.com/static/img/new.png) no-repeat;
}

.friendly_links a {
	margin-right: 2em;
	margin-bottom: 1em;
	float: left;
	display: block;
	height: 46px;
}

#ads .panel-body {
	padding: 9px 9px 0 9px;
}

#ads a {
	display: block;
	margin-bottom: 9px;
}

.links {
	padding: 1em;
}

.links a{
	margin-right: 20px;
}

.editormd-preview-container pre code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace!important;
}

.left.sidebar {
	position: relative;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.left.sidebar .avatar {
	margin-right: 10px;
}

.left.sidebar .info h4 {
	overflow: hidden;
}

div.list-group-item.heading {
	background-color: #f5f5f5;
}

.editormd-fullscreen {
    z-index: 100;
}